.cart-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  .cart-container h2{
    background-color: rgb(190,204,231);
  }
  .cart-container p{
    font-size: 15px;
    color: black;
  }
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 16px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity-control button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .quantity-control span {
    margin: 0 10px;
  }
  
  .cart-item-details button {
    background-color: rgb(66,98,173);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background-color: #060d4b;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .cart-total h3 {
    font-size: 1.5em;
    margin: 0;
  }
  